<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 方法一：使用MethodInvokingJobDetailFactoryBean创建JobDetai实例 -->
	<bean id="invokingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myBean"></property>
		<property name="targetMethod" value="printMessage"></property>
	</bean>
	
	<!-- 方法二：使用JobDetailFactoryBean创建JobDetai实例 -->
	<bean id="jobDetailBean" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="org.com.cay.quartz.FirstSchedulerJob"></property>
		<property name="jobDataMap"><!-- 可以传入额外的参数 -->
			<map>
				<entry key="otherBean" value-ref="otherBean"></entry>
			</map>
		</property>
		<!-- 以下属性如果不配置，会抛异常 SchedulerException: Jobs added with no trigger must be durable. -->
		<property name="durability" value="true"></property>
	</bean>
	
	<!-- 使用SimpleTriggerFactoryBean创建简单的trigger -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="invokingJobDetail"></property><!-- 此处使用MethodInvokingJobDetailFactoryBean创建的jobDetail实例，当然也可以使用JobDetailFactoryBean创建的jobDetail实例 -->
		<property name="startDelay" value="2000"></property><!-- 延时 -->
		<property name="repeatInterval" value="1000"></property><!-- 间隔 -->
	</bean>
	
	<!-- 使用CronTriggerFactoryBean创建简单的crontrigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="invokingJobDetail"></property><!-- 此处使用JobDetailFactoryBean创建的jobDetail实例，当然也可以使用MethodInvokingJobDetailFactoryBean创建的jobDetail实例 -->
		<property name="cronExpression" value="0/5 * * * * ?"></property>
	</bean>
	
	<bean id="" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 可以不需要配置jobDetails,因为已经配置在triggers中 -->
		<!-- <property name="jobDetails">
			<list>
				<ref bean="invokingJobDetail"/>
				<ref bean="jobDetailBean"/>
			</list>
		</property> -->
		<property name="triggers">
			<list>
				<!-- <ref bean="simpleTrigger"/> -->
				<ref bean="cronTrigger"/>
			</list>
		</property>
	</bean>
</beans>
